<div class="page-wrap">
  <!-- Main Info Section -->
  <section class="central-info-sec" aria-labelledby="central-info-heading" role="region">
    <h2 id="central-info-heading" class="visually-hidden">Central Information Panel</h2>
    <app-central-info-panel></app-central-info-panel>
  </section>

  <!-- Additional Section Placeholder -->
  <section class="asset-section-heading" aria-labelledby="asset-section-heading" role="region">
    <h2 id="secondary-section-heading" class="visually-hidden">Asset Flow Section</h2>
    <app-asset-flow></app-asset-flow>
  </section>
</div>
